<!-- bure/templates/bure/about.html -->


{% extends 'bure/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bure/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>This is Us!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad minus molestias asperiores, reiciendis illum odit placeat architecto quibusdam nam delectus aperiam nostrum! Culpa harum unde sequi repellendus aliquam corporis omnis?</p>
</div>

{% endblock %}
